[Desktop Entry]
Type=Application
Exec=/home/vagrant/eclipse/eclipse -clean -data /home/vagrant/workspace
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Eclipse
Name=Eclipse
Comment[en_US]=
Comment=
