[Desktop Entry]
Type=Application
Exec= eclipse -data /home/vagrant/workspace
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Eclipse
Name=Eclipse
Comment[en_US]=
Comment=
