[Desktop Entry]
Encoding=UTF-8
Name=Ref-Finder Youtube Video
Type=Link
URL=https://www.youtube.com/watch?v=uLiZBqbZ-bk&feature=youtu.be&hd=1
Icon=text-html
Name[en_US]=Ref-Finder Youtube Video
